<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis aperturas de Ajedrez</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon.ico">
</head>
<body>
    <header>
        <p>###################</p>
        <strong>Aperturas de Ajedrez</strong>
        <p>###################</p>
        <!-- el logo lo subo a un bucket s3 personal para usarlo como ruta absoluta -->
        <img src="https://taberna-odin-bucket.eu-central-1.linodeobjects.com/chess-logo-sm.jpg" 
        alt="logo del sitio con piezas de ajedrez negras sobre un tablero"><br><br>
        <nav>
            <a href="../index.html">[ Home ]</a>
            <a href="#">[ London System ]</a>
            <a href="./caro.html">[ Caro-Kann ]</a>
            <a href="./tablero.html">[ Mi tablero ]</a>
        </nav>
        <hr>
    </header>
    <main>
        <h1><u>London System</u></h1>
        <article>
            <p>En español se lo conoce como Apertura de alfil de dama.</p>
            <picture>
                <source srcset="../img/london-1-xs.jpg" media="(max-width: 768px)">
                <img src="../img/london-1.jpg" alt="sistema london inicial">
            </picture>
            <h2>Según wikipedia:</h2>
            <p>
                "Consiste en sacar el alfil blanco de casillas negras antes de jugar e3, 
                pero este hecho modifica totalmente las ideas estratégicas, ya que es necesario 
                jugar h3 para ocultar el alfil en h2 cuando sea atacado, y no es necesario 
                aplicar el plan de avanzar el peón de rey. Además, el alfil ya está apuntando
                al flanco de dama. Por lo demás, las blancas han de desplegar sus piezas como 
                en el Sistema Colle: d4, Cf3, e3, Ad3, 0-0, Cbd2 casi independientemente de lo 
                que jueguen las negras. En lugar de c3, y puesto que se va a atacar el flanco de 
                dama, quizá sea mejor directamente c4, junto con b4 y c5, aunque hay que buscar 
                las mejores condiciones para hacer esto."                
            </p>
            <picture>
                <source srcset="../img/london-2-xs.jpg" media="(max-width: 768px)">
                <img src="../img/london-2.jpg" alt="sistema london en su forma final">
            </picture>
            <p>
                <a href="https://es.wikipedia.org/wiki/Apertura_de_alfil_de_dama">
                    Podés leer más sobre el sistema acá.
                </a>
            </p>
        </article>
    </main>
    <footer>
        <hr>
        <ul>
            <li><a href="../index.html">Home del sitio</a></li>
            <li><a href="#">London System (blancas)</a></li>
            <li><a href="./caro.html">Defensa Caro-Kann (negras)</a></li>
            <li><a href="./tablero.html">Tablero en 3d</a></li>
            <li><a href="https://lichess.org/?user=foxneuer#friend">Invitame una partida</a></li>
            <li><a href="https://github.com/kaenovsky/mini-checkmate">Cloná este repositorio</a></li>
        </ul>
        <p>Copyleft ~ 2023</p>        
    </footer>
</body>
</html>